* {
  font-size: 16px;
  font: serif;
}

.header {
  background-color: #345584;
  display: inherit;

  .header__container {
    align-items: center;
    background-color: #345584;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 0;
    width: 1125px;
  }
}

.brand-logo {
  align-items: center;
  display: flex;

  .brand-logo__img-link {
    display: flex;
    text-align: center;
  }

  .brand-logo__text {
    color: #bfc9d7;
    font-size: 12px;
    padding-left: 12px;
  }
}

.user-menu {
  margin-left: auto;

  .user-menu__list {
    align-items: center;
    background-color: #345584;
    border-radius: 5px;
    display: flex;
    padding: 6px 15px 8px;
  }

  .user-menu__list-item {
    background-color: transparent;
    display: list-item;
    padding-right: 15px;
    position: relative;

    &::after {
      background-color: #bfc9d7;
      content: "";
      height: 13px;
      position: absolute;
      top: 4px;
      right: 7px;
      width: 1px;
    }

    &:last-of-type::after {
      content: none;
    }
  }

  .user-menu__list-item-link {
    color: #fff;
    font-size: 13px;

    &:hover {
      color: #fff;
      font-size: 13px;
      text-decoration: underline;
    }
  }
}

.release-search {
  margin-left: 10px;
  width: 288px;
  display: flex;

  .release-search__input {
    background: #fff;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding-left: 15px;
    width: 258px;
  }

  .release-search__button {
    background-color: #3081c9;
    border-radius: 0 4px 4px 0;
    height: 30px;
    width: 30px;
  }
}

.service {
  background-color: #345584;
  display: block;
  margin-top: -4px;

  .service__list {
    display: flex;
    margin: 0 auto;
    padding: 1px 0 12px;
    width: 1125px;
  }

  .service__list-item {
    color: #bfc9d7;
    display: list-item;
    font-size: 12px;
    line-height: 12px;
    padding-right: 15px;
    position: relative;

    &::after {
      content: "";
      width: 1px;
      height: 12px;
      background-color: #bfc9d7;
      position: absolute;
      top: 2px;
      right: 7px;
    }

    &:last-of-type:after {
      content: none;
    }
  }

  .service__list-item-link {
    color: #bfc9d7;
    font-size: 13px;

    &:hover {
      color: #fff;
      font-size: 13px;
    }
  }

  .service__list-item-link--active {
    color: #fff;
    font-weight: bold;
  }
}

.release-category {
  border-bottom: solid #e4e4e4;

  .release-category__list {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .release-category__list-item {
    padding: 0 10px;
  }

  .release-category__list-item-link {
    color: #294c7a;

    &:hover {
      font-weight: bold;
    }
  }

  .release-category__list-item-link--active {
    color: #294c7a;
    font-weight: bold;
  }
}

.release-ranking {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 30px 0;

  .release-ranking__list {
    display: flex;
    justify-content: center;
  }

  .release-ranking__list-item {
    background: #fff;
    height: 244px;
    margin-right: 8px;
    position: relative;
    width: 180px;
  }

  .release-ranking__list-item-link--active {
    display: block;
  }

  .release-ranking__list-item-rank {
    background-color: #294c7a;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    position: absolute;
    width: 24px;
    z-index: 1;
  }

  .release-ranking__list-item-img {
    background: #fff;
    overflow: hidden;
    position: relative;
  }

  .release-ranking__list-item-text {
    display: block;
    font-size: 13px;
    line-height: 1.6;
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 10px;
    white-space: nowrap;

    &:hover {
      color: #3081c9;
      text-decoration: underline;
    }
  }

  .release-ranking__list-item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
  }

  .release-ranking__list-item-datetime {
    color: #a2a2a2;
    font-size: 12px;
    margin-top: 2px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;

    &::before {
      content: url("/images/icon_time.svg");
      display: inline-block;
      height: 10px;
      margin-right: 3px;
      width: 12px;
    }
  }

  .release-ranking__list-item-link-company {
    color: #a2a2a2;
    font-size: 13px;
    margin-top: 3px;
    overflow: hidden;

    &:hover {
      color: #3b3b3b;
    }
  }

  .release-ranking__list-item-pv-uv {
    color: #a2a2a2;
    font-size: 13px;
    margin-top: 3px;
  }
}
